@{
    ViewData["Title"] = "CustomError";
    Exception? exception = ViewData["Exception"] as Exception ?? null;
    String dBException = ViewData["DBException"] as String ?? "";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="text-center ">
                <h1 class="fw-bolder">Ocorreu uma inconsistência</h1>
                @if (exception != null)
                {
                    <p class="lead text-muted">@exception.Message</p>
                }
                @if (dBException.Trim() != "")
                {
                    <p class="lead text-muted">@dBException</p>
                }
                <form asp-area="" asp-controller="Home" asp-action="Index">
                    <button type="submit" class="btn btn-primary">Clique aqui para voltar a tela inicial</button>
                </form>
            </div>
        </div>
    </div>
</div>
