@model ItemModel

@using iBudget.Framework

<div class="mb-3 text-start">
    <label asp-for="ItemName" class="form-label"></label>
    <input asp-for="ItemName" class="form-control" placeholder="">
    <span asp-validation-for="ItemName" class="text-danger"></span>
</div>

<div class="mb-3 text-start">
    <label asp-for="Value" class="form-label"></label>
    <input asp-for="Value" class="form-control" placeholder="" type="number" step="0.01">
    <span asp-validation-for="Value" class="text-danger"></span>
</div>

<div class="mb-3 text-start">
    <label asp-for="Description" class="form-label"></label>
    <textarea asp-for="Description" class="form-control" placeholder=""></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>