@model CompanyModel

@{
    ViewData["Title"] = "Create";
}

@section Scripts
{
    <script src="@Url.Content("~/js/submitHelper.js")"></script>
    <script src="@Url.Content("~/js/imagePreview.js")"></script>
    <script src="@Url.Content("~/js/formatHelper.js")"></script>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @using (Html.BeginForm("Create", "Company", FormMethod.Post, new { @class = "needs-validation", enctype = "multipart/form-data" }))
            {
                <div class="mb-3 text-start">
                    <label asp-for="CompanyName" class="form-label"></label>
                    <input asp-for="CompanyName" class="form-control" placeholder="">
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>

                <div class="mb-3 text-start">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="you@example.com" requried>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3 text-start">
                    <label asp-for="Phone" class="form-label"></label>
                    <input id="Contact_Phone" asp-for="Phone" class="form-control" placeholder="+55 (49) 9 xxxx-xxxx">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="mb-3 text-start">
                    <select id="Document_DocumentType" hidden>
                        <option value="2" selected>CNPJ</option>
                    </select>

                    <label asp-for="CNPJ" class="form-label"></label>
                    <input id="Document_Document" asp-for="CNPJ" class="form-control" placeholder="">
                    <span asp-validation-for="CNPJ" class="text-danger"></span>
                </div>

                <div class="mb-3 text-start">
                    <label asp-for="Address" class="form-label"></label>
                    <input asp-for="Address" class="form-control" placeholder="">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="mb-3 text-start">
                    <label asp-for="FormImageFile" class="form-label"></label>
                    <input id="upload" asp-for="FormImageFile" accept="image/*" placeholder="">
                    <span asp-validation-for="FormImageFile" class="text-danger"></span>
                </div>

                <div class="rounded float-left" id="images__client"></div>

                <hr class="my-4">

                <div id="submit" class="text-end mb-4">
                    <button class="btn btn-primary btn-lg" type="submit">Save</button>
                    <a class="btn btn-secondary btn-lg" asp-controller="Home" asp-action="index">Cancel</a>
                </div>
            }
        </div>
    </div>
</div>