@model CompanyModel

@{
    ViewData["Title"] = "Cadstro de empresa";
}

@section Scripts
{
    <script src="@Url.Content("~/js/submitHelper.js")"></script>
    <script src="@Url.Content("~/js/imagePreview.js")"></script>
    <script src="@Url.Content("~/js/formatHelper.js")"></script>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @using (Html.BeginForm("Create", "Company", FormMethod.Post, new { @class = "needs-validation", enctype = "multipart/form-data" }))
            {
                <partial name="Partials/_EditCompany" />

                <div class="rounded float-left" id="images__client"></div>

                <hr class="my-4">

                <div id="submit" class="text-end mb-4">
                    <button class="btn btn-primary btn-lg" type="submit">Salvar</button>
                    <a class="btn btn-secondary btn-lg" asp-controller="Home" asp-action="index">Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>