@{
    ViewData["Title"] = "Configurações";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <a class="d-flex align-items-center w-100" asp-area="" asp-controller="Company" asp-action="Manipulate">
                    <object class="svg svg-configuration" width="32" height="32" alt="Configurations" class="rounded-circle flex-shrink-0"></object>
                    <div class="flex-grow-1 ms-3">
                        <h6 class="mb-0">Empresa</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>