@if (SystemManager.IsDevelopment)
{
    <div id="developer_badge" class="navbar justify-content-center align-items-center bg-danger mx-2">
        <span class="badge badge-light p-2">DESENVOLVIMENTO</span>
    </div>
}