@model PersonModel

@{
    ViewData["Title"] = "Cadastro de pessoa";
}

@section Scripts
{
    <script src="@Url.Content("~/js/submitHelper.js")"></script>
    <script src="@Url.Content("~/js/formatHelper.js")"></script>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            @using (Html.BeginForm("Create", "Person", FormMethod.Post, new { @class = "needs-validation" }))
            {
                <partial name="Partials/_EditPerson"/>

                <div id="submit" class="text-end mb-4">
                    <button class="btn btn-primary btn-lg" type="submit">Salvar</button>
                    <a class="btn btn-secondary btn-lg" asp-action="index">Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>